* {
    margin: auto;
    padding: 0;
}

header{
    display: flex;
    background-color: rgb(23, 23, 23);
    height: 150px;
}

.logo img {
    width: 250px;
    display: inline;
    margin: 20px;
}
.pesquisa {
    display: flex;
    display: inline;
    padding-top: 70px;
}
.pesquisa input {
    width: 360px;
    height: 50px;
    display: flex;
    display: inline;
}

button{
    width: 63px;
    display: flex;
    display: inline;
    margin-top: -22px;
    padding: 20px;
    margin-left: -7px;
    margin-bottom: 8px;
}

form{
    align-items: center;
}

.liks {
    text-align: center;
    margin-top: 70px;
    margin-left: 500px;
}